@model TianYu.Blog.Domain.DomainModel.SysButton
@{
    ViewBag.Title = "新增/编辑";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Edit.cshtml";
}
    <form class="layui-form" method="post" action="/admin/sysbutton/save" id="myForm">
        <input type="hidden" value="@Model.Id" name="Id" />
        <input type="hidden" value="@Model.MenuId" name="MenuId" />
        <input type="hidden" value="@Model.Icon" name="Icon" id="txtIcon" />
        <div class="layu-row">
            <div class="layui-col-xs6">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="ButtonName" required lay-verify="required" autocomplete="off" class="layui-input" maxlength="16" value="@Model.ButtonName">
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>JS方法</label>
                    <div class="layui-input-block">
                        <input type="text" name="JsEvent" required lay-verify="required" autocomplete="off" class="layui-input" maxlength="128" value="@Model.JsEvent">
                    </div>
                </div>
            </div>
        </div> 
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red;"></span>图标</label>
            <div class="layui-input-block">
                <i class="layui-icon @(Model.Icon)" id="iicon"></i>
                <button type="button" class="layui-btn" onclick="onSelectIcon()">选择图标</button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">按钮类型</label>
            <div class="layui-input-block">
                <input type="radio" name="IsToolbar" value="1" title="工具栏按钮" @(Model.IsToolbar == 1 ? "checked" : "")>
                <input type="radio" name="IsToolbar" value="0" title="自定义按钮" @(Model.IsToolbar != 1 ? "checked" : "")>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">尺寸</label>
            <div class="layui-input-block">
                <input type="radio" name="SizeStyle" value="layui-btn-xs" title="小型" @(Model.SizeStyle == "layui-btn-xs" ? "checked" : "")>
                <input type="radio" name="SizeStyle" value="layui-btn-sm" title="中型" @(Model.SizeStyle == "layui-btn-sm" ? "checked" : "")>
                <input type="radio" name="SizeStyle" value="" title="大型" @(Model.SizeStyle == "" ? "checked" : "")> 
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">颜色</label>
            <div class="layui-input-block">
                <input type="radio" name="BackColor" value="" title="蓝色" @(Model.BackColor == "" ? "checked" : "")>
                <input type="radio" name="BackColor" value="layui-btn-normal" title="绿色" @(Model.BackColor == "layui-btn-normal" ? "checked" : "")>
                <input type="radio" name="BackColor" value="layui-btn-warm" title="黄色" @(Model.BackColor == "layui-btn-warm" ? "checked" : "")>
                <input type="radio" name="BackColor" value="layui-btn-danger" title="红色" @(Model.BackColor == "layui-btn-danger" ? "checked" : "")>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分组</label>
            <div class="layui-input-block">
                <input type="radio" name="GroupId" value="1" title="组1" @(Model.GroupId == 1 ? "checked" : "")>
                <input type="radio" name="GroupId" value="2" title="组2" @(Model.GroupId == 2 ? "checked" : "")>
                <input type="radio" name="GroupId" value="3" title="组3" @(Model.GroupId == 3 ? "checked" : "")> 
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="checkbox" name="Status" lay-skin="switch" lay-text="启用|禁用" @(Model.Status == 0 ? "checked" : "") value="0">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" name="Sort" autocomplete="off" class="layui-input" maxlength="16" value="@Model.Sort">
            </div>
        </div>
        <div class="layui-footer">
            <button type="button" class="layui-btn layui-btn-primary" onclick="win.close()">关闭</button>
            <button type="button" class="layui-btn" lay-submit lay-filter="formSubmit">保存</button>
        </div>
    </form>
@section Scripts{
    <script type="text/javascript">
    $(function () {
        layui.use('form', function () {
            var form = layui.form;
            //监听提交
            form.on('submit(formSubmit)', function (data) {
                win.showLoading("正在保存...");
                $("#myForm").ajaxSubmit(function (res) {
                    win.hideLoading();
                    if (res.code == 0) {
                        parent.getBtnModel(res.data, "@Model.Id");
                        parent.win.success("保存成功");
                        win.close();
                    } else {
                         win.alert(res.message);
                    }
                });
                return false;
            });
        });
    });
    //选择图标
    function onSelectIcon() {
        win.open("/admin/sysmenu/selecticon", 450, 400, "选择图标");
    }
    </script>
}
